<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBt0t9ARqLjK8Jp-zNe55E_DxhciERvl38</string>
	<key>GCM_SENDER_ID</key>
	<string>922463517693</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterHandymanApp</string>
	<key>PROJECT_ID</key>
	<string>ghorerkaaj</string>
	<key>STORAGE_BUCKET</key>
	<string>ghorerkaaj.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:922463517693:ios:6e105226b45d7a52abb794</string>
</dict>
</plist>